body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./imgs/old-wooden-texture-background-vintage_55716-1138.jpg);
}

div {
    font-family: serif;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 3px;
}

button {
    font-family: sans-serif;
    background-color: transparent;
    cursor: pointer;
}

.border-vert {
    display: flex;
    width: 750px;
    height: 100px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: gold;
    font-size: 50px;
}


#top {
    border-radius: 15px 15px 0px 0px;
}


#bottom {
    display: flex;
    height: 175px;
    border-radius: 0px 0px 15px 15px;
    justify-content: center;
    align-items: center;
}


.analog {
    width: 100px;
    height: 100px;
    background-color: white;
    margin: 0px auto;
    border-radius: 50%
}


.container {
    display: flex;
}

.box {
    display: flex;
    width: 200px;
    height: 600px;
    background-color: beige;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
}

#middle.container {
    margin-top: 80px;
    justify-content: space-around;
    align-items: center;
}

.border-hor {
    width: 100px;
    height: 500px;
    background-color: red;
}

.grid {
    display: grid;
    width: 550px;
    height: 500px;
    /* margin-left: 80px; */
    background-color: beige;
    /* padding: 50px; */
    /* grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr); */
}

.grid-item {
    /* border: 1px solid black; */
    /* padding: 1px; */
    text-align: center;
    user-select: none;
    background-color: beige;
}

.grid-container {
    border: 1px solid black;
}

#reset, #clear, #toggle-color {
    width: auto;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}

#toggle-color {
    /* background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent; */
}
